{% extends "custom/analytics/base-analytics.html" %}


{% block js %}

	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
	

<script type="text/javascript">
		var chart;
		var colors = Highcharts.getOptions().colors;
		
		$(document).ready(function() {
			
			
	        // Create the chart
            $('#container').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Higher percentages of correct questions '
                },
                subtitle: {
                    text: 'Higher percentages of correct questions'
                },
                xAxis: {
                	  categories: [
	                	{% for c in categories %}
			        		'{{c}} ',
			        	{% endfor %}
			        	
	                ],
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: 'Percentage'
                    }
                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.1f}%'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
                }, 

                series: [{
                    name: 'Percentage',
                    colorByPoint: true,
                    data: {{dresult}}
                }],
              
             
	        });	
	
		});
			
	</script>

{% endblock %}



{% block content %}

<div class="contentbg" style="margin: 0; padding: 0; width: 100%">
		<div class="post">
			<!--<h2 class="title">Analytics</h2>-->


		    <div id="container" style="width: 740px; height: 500px; margin: 0 auto"></div>
		    <h1>Preguntas</h1>
				<br>
				{% for n in namequestions %}
			    		<li><b>{{n}}</b></li>
			    
			    {% endfor %}
			<center><div style="clear: both;">&nbsp;</div>
				<fieldset class="ui-grid-b" data-theme="b">
						<div class="ui-block-a"></div>
						<div class="ui-block-b"><a href="/next-games"><button data-theme="b">Go to fleq!</button></a></div>
						<div class="ui-block-c"></div>
				</fieldset>
			</center>
 
			</div>
		<div style="clear: both;">&nbsp;</div>
	</div>
	

{% endblock %}