{% extends "custom/base-mini.html" %}


{% block content %}

	<div class="contentbg">
		<div class="post">
		<h2 class="title"> Chat IRC for Ask Questions {{ user.username }}</h2>
		</pre>
		<p> Choose your nickname and write the captcha, That's all enter and question!</p>
		<iframe src="http://webchat.freenode.net?channels=%23fleq" width="650" height="345"></iframe>
		</pre>
	<center><div style="clear: both;">&nbsp;</div>
			<fieldset class="ui-grid-b" data-theme="b">
					<div class="ui-block-a"></div>
					<div class="ui-block-b"><a href="/next-games"><button data-theme="b">Back</button></a></div>
					<div class="ui-block-c"></div>
			   </fieldset>
		</center>

		</div>
		<div style="clear: both;">&nbsp;</div>
	</div>

{% endblock %}
